* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: hsl(218, 23%, 16%);
}

.advice {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    background-color: hsl(217, 19%, 24%);

    max-height: 300px;
    padding: 8px 8px;
    border-radius: 12px;
    width: 360px;
}

.advice p {
    color: hsl(150, 100%, 66%);
    margin: 16px 0;
}

.advice h3.text {
    color: hsl(193, 38%, 86%);
    margin-bottom: 20px;
    text-align: center;
}

.advice button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(150, 100%, 66%);

    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);

    cursor: pointer;
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.advice img.divider {
    width: 90%;
    margin-bottom: 32px;
}

.advice button img {
    height: 18px;
}

@media (max-width: 420px) {
    .advice {
        width: 280px;
        max-height: 360px;
    }
}
